{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Main Page{% endblock %}

{% block main %}

<!-- banner -->
	<div class="banner-silder">
		<div id="JiSlider" class="jislider">
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">
									<span>Health Plus</span>
									<h3>Quality Care </h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

								</div>
							</div>
						</div>
				</li>
				<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
						<div class="container">
								<div class="agileits-banner-info">
								 <span>Real</span>
									<h3>Free Consultation </h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

								</div>
							</div>
						</div>
				</li>
				<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info">
								     <span>Amazing</span>
									<h3>Quality Care </h3>
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

								</div>

							</div>
						</div>
					</li>

			</ul>
		</div>
      </div>

<!-- //banner -->

<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<h2 class="w3_heade_tittle_agile">Welcome to our Health Plus</h2>
			<p class="sub_t_agileits">Add Short Description</p>

			<p class="ab"> We provide help and inspire hope to those affected by cancer through early detection, drug recommendation, and support services. No matter where you are in your journey, we can help.</p>

			 <div class="about-w3lsrow">

				<div class="col-md-6 w3about-img">
				    <img src="{% static 'images/desk2.png'%}" alt=" " class="img-responsive">
				</div>
				<div class="col-md-6 col-sm-7 w3about-img two">
					<div class="w3about-text">
						<h5 class="w3l-subtitle">We Care About Your Health</h5>
						<p>As per the WHO statistics in 2018 more than 173,937 new cancer cases were identified and around 118442 cancer related death occur in Pakistan. So it can be seen that cancer is deadly disease. We want to decrease the death rate because of cancer and our work is also motivated by the flaws and problems in the existing systems. </p>

						<p>We want to make our system able to classify cancer and its types more accurately and to predict drug based on molecular information such as gene expression data. Precision isn't generally the main objective we need to accomplish natural pertinence.</p>
						  <!--<div class="read"><a href="single.html" class="hvr-rectangle-in">Read More</a></div>-->
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
</div>
<!-- /about-bottom -->
<!-- /girds_agileits -->
    <!--
	<div class="Department_girds_agileits">
		<div class="agile_team_grid">

					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="{% static 'images/g1.jpg'%}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h4>Department 1</h4>
							<ul class="social_agileinfo">
								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="{% static 'images/g2.jpg'%}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h4>Department 2</h4>
							<ul class="social_agileinfo">
								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>


					<div class="col-md-3 w3ls_banner_bottom_grid hvr-shutter-in-horizontal">
						<img src="{% static 'images/g3.jpg'%}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h4>Department 3</h4>
							<ul class="social_agileinfo">
								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>


					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="{% static 'images/g4.jpg'%}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h4>Department 4</h4>
							<ul class="social_agileinfo">
								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>

		</div>
		<div class="clearfix"></div>
	</div>
    -->
<!-- //girds_agileits -->

	<div class="agile_menu" id="menu">
		<div class="container">
		<h3 class="w3_heade_tittle_agile">Our Services</h3>
		<p class="sub_t_agileits">We care enough to serve the very best.</p>
		<div class="menu_w3ls_agile_top_section">
			<div class="ziehharmonika">
			<h3>Cancer Classification</h3>
			<div>
				  <div class="w3_agile_recipe-grid">

								<div class="col-md-6 col-sm-6 tab-image">
									<img src="{% static 'images/CC.jpeg'%}" alt="Medicinal">
								</div>
								<div class="col-md-6 col-sm-6 tab-info">
								<h4>Early Detection saves lives</h4>
									<p>Cancer classification is made according to the site of origin of the malignant cells; the histology, or cell analysis; and the extent of the disease. Cancers are classified in two ways: by the type of tissue in which the cancer originates (histological type) and by primary site, or the location in the body where the cancer first developed.  </p>
									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>
								</div>
								<div class="clearfix"></div>
					    </div>

			</div>
			<h3>Drug Recommendation</h3>
			<div>
				  <div class="w3_agile_recipe-grid">


									<div class="col-md-6 col-sm-6 tab-info two">
								<h4>Fight the FIGHT, to find the cure</h4>
									<p>Drug therapies work in different ways to destroy cancer cells, stop them from spreading or slow down their growth. Drugs used to treat cancer are also called anticancer drugs or anticancer agents. Drugs may also be used to lessen or relieve side effects of cancer or its treatment. </p>
									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>
								</div>
								<div class="col-md-6 col-sm-6 tab-image two">
									<img src="{% static 'images/Drug.jpg'%}" alt="Medicinal">
								</div>
								<div class="clearfix"></div>
					    </div>

			</div>
			<h3>Driver Genes</h3>
			<div>
			 <div class="w3_agile_recipe-grid">

								<div class="col-md-6 col-sm-6 tab-image">
									<img src="{% static 'images/Gene1.jpg'%}" alt="Medicinal">
								</div>
									<div class="col-md-6 col-sm-6 tab-info">
								<h4>Genes are like the story, and DNA is the language that the story is written in</h4>
									<p>The genomic alterations that are involved in tumourigenesis (i.e. drivers), from those that give no advantage to cancer cells, but occur stochastically as a by-product of cancer development, (i.e. passengers). In line with this distinction, driver genes (i.e. those bearing driver alterations) confer selective advantage to tumour development and can be identified by detecting signals of positive selection across a cohort of tumours </p>
									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>
								</div>
								<div class="clearfix"></div>
					    </div>


			</div>
			<h3>Types of Cancer</h3>
			<div>
				  <div class="w3_agile_recipe-grid">


								<div class="col-md-6 col-sm-6 tab-info two">
								<h4></h4>
									<p>The major types of cancer are carcinoma, sarcoma, melanoma, lymphoma, and leukemia. Carcinomas -- the most commonly diagnosed cancers -- originate in the skin, lungs, breasts, pancreas, and other organs and glands. Lymphomas are cancers of lymphocytes. Leukemia is cancer of the blood. </p>
									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>
								</div>
								<div class="col-md-6 col-sm-6 tab-image two">
									<img src="{% static 'images/TOC1.jpeg'%}" alt="Medicinal">
								</div>
								<div class="clearfix"></div>
					    </div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- services section -->
<div class="service-w3l jarallax" id="service">
	<div class="container">
	<h3 class="w3_heade_tittle_agile two">What We Do Best</h3>
		<p class="sub_t_agileits">Add Short Description</p>
		<div class="col-lg-4 col-md-4 col-sm-12 serv-agileinfo1">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree1" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">

								<div class="ch-info-front ch-img-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                <!--<div class="ch-info-front ch-img-1"><i class="fas fa-dna" aria-hidden="true"></i></div>-->
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Somatic Mutation</h4>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree2" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"><i class="fa fa-user-md" aria-hidden="true"></i></div>
                                <!--<div class="ch-info-front ch-img-2"><i class="fab fa-accessible-icon" aria-hidden="true"></i></div>-->
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Gene Expression</h4>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 serv-agileinfo2">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree4" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"><i class="fa fa-ambulance" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Feature Elimination</h4>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 serv-agileinfo3">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree6" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"><i class="fa fa-tint" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">NA</h4>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree5" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-5"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">General Treatment</h4>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- /services section -->

<!-- stats -->
	<div class="stats" id="stats">
	    <div class="container">
			<div class="inner_w3l_agile_grids">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
		   	<i class="fa fa-building-o" aria-hidden="true"></i>
			<p class="counter">120</p>
			<h3>Hospital Rooms</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
		   <i class="fa fa-wheelchair" aria-hidden="true"></i>
			<p class="counter">165</p>
			<h3>Wheelchair</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
		<i class="fa fa-ambulance" aria-hidden="true"></i>
			<p class="counter">563</p>
			<h3>Ambulance Car</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
	<i class="fa fa-heart-o" aria-hidden="true"></i>
			<p class="counter">245</p>
			<h3>Saved Hearts</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
   </div>
</div>
<!-- //stats -->

<!-- services-bottom -->
	<div class="services-bottom">
	<div class="col-md-5 wthree_services_bottom_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3_agile_services_bottom_right_grid">
								<p class="w3layouts_head_slide">Health Care <span>Center</span></p>
							</div>
						</li>
						<li>
							<div class="w3_agile_services_bottom_right_grid1">
								<p class="w3layouts_head_slide">Hospital <span> Departments</span></p>
							</div>
						</li>
						<li>
							<div class="w3_agile_services_bottom_right_grid2">
								<p class="w3layouts_head_slide">Health Care <span>Center</span></p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="col-md-7 wthree_services_bottom_left">
			<div class="wthree_services_bottom_left_grid">
				<div class="col-md-6 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/Hospital.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Quality Care</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3_agileits_services_bottom_r_grid">
					<h4>Cancer Hospitals</h4>
                    <p>Shaukat Khanum Memorial Cancer Hospital & Research Centre Lahore,
                        Institute of Nuclear Medicine and Oncology (INMOL) Lahore,
                        and some more.
                    </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="wthree_services_bottom_left_grid">
				<div class="col-md-6 w3_agileits_services_bottom_r_grid">
					<h4>Cancer Laboratories</h4>
					<p>Shaukat Khanum Diagnostic Centre, Shaukat Khanum Hospital Lab, INMOL Cancer Hospital. </p>

				</div>
				<div class="col-md-6 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/Laboratory.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
								<h3>Quality Care</h3>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="clearfix"> </div>
	</div>
<!-- //services-bottom -->

{% endblock %}